<!-- ** This is the base template, not its own page --> 

<!DOCTYPE html>
<html>


<style>
body {
    background-color: lightgray;

}
    
</style>

    <head>
       <meta charset="utf-8" /> <!--character set that's used for the document-->
       <meta name="viewport" content="width=device-width, intitial-scale=1" /> 
            <!--standard to have in head tag-->
       
        <!--link to CDN, content delivery network; allows load w/o downloading
            basically helps it look nicer, not NEEDED-->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

       <title>{% block title %}Welcome! to our Eliza Jester Bot{% endblock %}</title>
    </head>
    
    <body>
        <!-- these are bootstrap classes -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
              class="navbar-toggler" 
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>  

            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                    <a class="nav-item nav-link" id="aboutUs" href="/about-us">About Us</a> 
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content1 %}

            {% endblock %}

        </div>


            <!-- Loads bootstrap for Javascript -->
                <!-- Images, Javascript or CSS files will go in STATIC folder -->
            <script 
                src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous">
            </script>
            
            <script 
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous">
            </script>
            
            <script 
                src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous">
            </script>
            
            <!-- How to Load in a file "index.js" from static folder
                    "static" = name of folder, replace index,js w/ name of file -->
            <script 
                type="text/javascript" 
                src="{{ url_for('static', filename='index.js') }}"
            ></script>
    </body>






</html>